<header>
  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <h2>AngularJS WYSIWYG.</h2>
    </div>
  </md-toolbar>
</header>
<main>
  <hr/>
  <h4>Rich</h4>
  <textarea id="editor"
    ckeditor5
    config="config"
    toolbar="toolbar"
    replace-toolbar="replaceToolbar"
    ng-model="richModel"></textarea>
    {{richModel}}
    <hr/>
</main>
